<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>

  <img
    *ngFor="let beer of beers"
    width="200"
    alt=""
    src="{{ beers[0].image_url }}"
  />
</div>
<button (click)="get_products()">Random Beer</button>

<ul>
  <li *ngFor="let beer of beers">
    {{ beers[0].name }}
  </li>
  <li *ngFor="let beer of beers">{{ beers[0].tagline }}</li>
  <li *ngFor="let beer of beers">{{ beers[0].description }}</li>
</ul>

<router-outlet></router-outlet>
